/* src/components/Carousel.css */
.slides img{
  height:500px ;
}

.images{
  width: 65%;
}
.slides{
  z-index: 0;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
   gap: 10px;
color: black;
}
.text{
    margin-top: 80px;
    padding: 20px;
    width: 170%;
}
  .image h2{
    /* z-index: 1; */
    color: black;
  }

  .image p{
    color: black;
    font-size: 20px;
  }
.image img{
    height: 400px;
    width: 100%;
    /* z-index: 1; */
    margin-top: 80px;
    border-radius: 40px;
}





  /* Responsive styles */
  @media (max-width: 600px) {
   .slides img{
    height: 300px;
   }

    .images{
      display: flex;
      flex-direction: row;
      z-index: 2;
     
    }

    .images img{
      width: 100%;
      height: 330px;
      padding: 0px;
    }
    .image{
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: space-between;
      margin: 0px;
      margin-top: 40px;
    }

    .image img{
      margin: 0px;
      z-index: -1;
    }

    .text{
      margin-top: 0px;
      width: 100%;
    }

  }
  